@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: poppins;
    background-color: #ebe8db;
    color: #000;
    margin:0;
    font-size:14px;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    width: 100%;
    max-width:80%;
    margin:auto;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}
header a{
    margin-right: 40px;
}
/*
.readables{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top:-50px;
    position: relative;
}
    */
.readables .list .item{
    position: absolute;
    top :30%;
    width:1140px;
    max-width:80%;
    left: 50%;
    transform: translatex(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color:#000;
    text-shadow: 0 5px 10px #0044;
}
/* AUTHOR TEXT & ANIMATION */
.author-container {
    position: relative;
    display: inline-block;
}
.author{
    font-weight:bold;
    letter-spacing: 2px;
    font-size: 5em;
    color: black;
    position: relative;
    clip-path: inset(0 0 100% 0); /* Initially hidden */
    transition: clip-path 1s ease-out;
}
/* Orange Line */
.line {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f1683a;
    top: 0;
    left: 0;
}
.readables .list .item .cat,
.readables .list .item .profession{
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 15px;
}
.readables .list .item .projects{
    margin-top: 30px;
}
.readables .list .item button{
    border: none;
    background-color: #f1683a;
    letter-spacing: 3px;
    font-family: poppins;
    font-weight: 700;
    height: 40px;
    width: 130px;
    cursor: pointer;
}
footer {
    position: fixed; /* Sticks to the bottom */
    bottom: 35px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: center;
}
.social-icons {
    display: flex;
    gap: 30px;
}
.email-section {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 15px;
}
.email {
    font-size: 16px;
    color: #333;
}
.email:hover {
    color: #f1683a;
}

.social-icons img {
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}